.containerLogoTitutlo{
    justify-items: center;
    margin-top: 50px;
}

.containerLogin{
    display: table;
    padding: 1rem;
    background-color: rgba(223, 218, 218, 0.29);
    border: 0.2px solid gray;
    margin-left: 900px;
}

.containerLogin input{
    padding: 3px;
    margin: 5px;
}

.containerLogin #loginButton{
    justify-content: center;
    margin: 10px;
    background-color: rgb(4, 216, 4);
    width: 70px;
    height: 35px;
}

.containerLogin #loginButton:hover{
    background-color: rgb(5, 172, 5);
}

.cadastro p{
    display: inline;
    font-size: 13px;
    margin: 2px;
}

#tituloLogin {
    font-size: x-large;
    background: linear-gradient(to right, rgb(55, 88, 254) 43%, rgb(215, 206, 41) 0);
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }
